:root {
  --app-footer-bg: rgb(203, 212, 231);
  --app-bg-dark: rgb(36, 36, 36);
  --app-bg: rgb(233, 236, 243);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --app-bg: #242424;
    --app-bg-dark: #e9ecf3;
  }
} */

#root {
  /* max-width: 1280px; */
  text-align: center;
  margin: 0 auto;

  background-color: var(--app-bg);
  color: var(--app-bg-dark);
}

.todo-wrapper {
  flex-direction: column;
  min-height: 100dvh;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-underline-offset: 0.45rem;
  text-decoration: underline;
}